---
layout: base
permalink: /index.html
title: 'Welcome'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Blog'
  intro: ''
---

<div class="wrapper">

    <header class="full | section" style="--spot-color: var(--color-primary)">
      <div class="section__inner flow region">
        <h1 id="title" class="text-center" style="color: var(--color-light);">{{ title }}</h1>
      </div>
      {% svg "divider/soft-bottom", null, "divider" %}
    </header>

    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">Hello There!</h2>

        <p>
          This is my personal website. Here I’ll be posting things related to college, my experience in IT/engineering, and personal interests.
        </p>

      <p>
      I havent deciced the design for the blog. I haven't had any time to think about it, so consider this as work in progress.
      </p>
    </div>

</div>
